.container {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.movie {
    margin-right: 10px;
    text-align: center;
    position: relative;
}

.movie__image {
    width: 200px;
    height: auto;
}

.movie__btn {
    position: absolute;
    height: 20px;
    width: 200px;
    top: 175px;
    background-color: #787373;
    border: none;
    cursor: pointer;
    z-index: 1;
    left: 0;
    bottom: 0;
}

.movie:hover .movie__btn {}